<template>
    <form class="card auth-card" @submit.prevent="submitHandler">
        <div class="card-content">
            <span class="card-title">{{'CRM_Title' | localize}}</span>
            <div class="input-field">
                <input
                        id="email"
                        type="text"
                        v-model.trim="email"
                        :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
                >
                <label for="email">Email</label>
                <small v-if="$v.email.$dirty && !$v.email.required" class="helper-text invalid">Поле Email не должно
                    быть пустым</small>
                <small v-else-if="$v.email.$dirty && !$v.email.email" class="helper-text invalid">Введите корректный
                    Email</small>
            </div>
            <div class="input-field">
                <input
                        id="password"
                        type="password"
                        v-model.trim="password"
                        :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
                >
                <label for="password">{{'Password' | localize}}</label>
                <small v-if="$v.password.$dirty && !$v.password.required" class="helper-text invalid">{{'Message_EnterPassword' | localize}}</small>
                <small v-else-if="$v.password.$dirty && !$v.password.minLength" class="helper-text invalid">Пароль
                    должен быть {{ $v.password.$params.minLength }} символов. Сейчас он {{password.length}}</small>
            </div>
            <div class="input-field">
                <input
                        id="name"
                        type="text"
                        v-model.trim="name"
                        :class="{invalid: $v.name.$dirty && !$v.name.required}"
                >
                <label for="name">{{'Name' | localize}}</label>
                <small class="helper-text invalid"
                       v-if="$v.name.$dirty && !$v.name.required"
                >
                    Введите ваше имя
                </small>
            </div>
            <p>
                <label>
                    <input type="checkbox" v-model="agree"/>
                    <span>{{'AcceptRules' | localize}}</span>
                </label>
            </p>
        </div>
        <div class="card-action">
            <div>
                <button
                        class="btn waves-effect waves-light auth-submit"
                        type="submit"
                >
                    {{'Register' | localize}}
                    <i class="material-icons right">send</i>
                </button>
            </div>

            <p class="center">
                Уже есть аккаунт?
                <router-link to="/login">{{'Login' | localize}}</router-link>
            </p>
        </div>
    </form>
</template>

<script>
    import {email, minLength, required} from "vuelidate/lib/validators";

    export default {
        name: "Register",
        metaInfo() {
            return {
                title: this.$title('Register')
            }
        },
        data: () => ({
            email: '',
            password: '',
            name: '',
            agree: false
        }),
        validations: {
            email: {email, required},
            password: {required, minLength: minLength(6)},
            name: {required},
            agree: {checked: v => v}
        },
        methods: {
            async submitHandler() {
                if (this.$v.$invalid) {
                    this.$v.$touch();
                    return
                }
                const formData = {
                    email: this.email,
                    password: this.password,
                    name: this.name
                }

                try {
                    await this.$store.dispatch('register', formData)
                    this.$router.push('/')
                }catch (e) {
                    console.log(e)
                }
            }
        }
    }
</script>

<style scoped>

</style>